<h1>home page</h1>
Get Strava Activities
<a href="/strava"><button class="btn-strava">Strava</button></a>
<br>
Check the weather
<form action="/weather" method="post">
    <input type="text" name="search">
    <button type="submit">Get weather</button>
</form>


